*{
    margin: 0;
    padding: 0;
}
  
body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-color: #f2f2f2;
  }
  
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}
.navbar{
    width: 900px;
    height: 50px;
    display: flex;
}

.header{
    width: 100px;
    height: 50px;
    margin-left: 10px;
}

.head{
    font-size: 30px;
    font-family: Arial;
    align-items: center;
}

.menu{
    display: flex;
    text-align: center;
}

.menu ul {
    list-style-type: none;
    margin-left: 19em;
    padding: 0;
}
  
.menu ul li {
    display: inline;
    margin-right: 10px;
    text-align: center;
  }
  
.menu ul li a {
    color: #fff;
    text-decoration: none;
}
  
main {
    margin: 20px;
  }

.container{
    display: flex;
    margin-top: 30px;
} 

.pic{
    width: 32em;
    height: 22em;
}

.words{
    width: 30em;
}

img{
    width: 30em;
    height: 25em;
}
  
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
  
a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;
}
  
a:hover {
    background-color: #666;
}
  
a:active {
    background-color: #999;
}

@media screen and (min-width: 480px){
    body {
        background-color: transparent;
    }
}